* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

header {

    padding: 50px;
    background-color: aquamarine;
    text-align: center;

}

nav {
    display: flex;
    flex-direction: row;
    background-color: grey;

}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;

}

.content {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 30px;
    background-color: blueviolet;
    padding: 20px;
}

section {
    flex: 70%;
    background-color: khaki;
    padding: 20px;
}

footer {
    padding: 20px;
    background-color: palevioletred;
    text-align: center;
}

@media screen and (max-width: 700px) {

    nav,
    .content {
        flex-direction: column;
    }
}