/* Estilos para la barra de navegación */
.navbar {
  background-color: #ffffff;      /* Fondo blanco para la barra */
  padding: 10px 20px;             /* Espaciado interno */
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #576B20;                 /* Color verde para el logo */
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 20px;                      /* Espaciado entre los enlaces */
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #46561E;                 /* Color de los enlaces */
  font-weight: 500;
  text-decoration: none;          /* Elimina el subrayado */
}

.nav-link:hover {
  color: #576B20;                 /* Color verde al pasar el mouse */
}

.navbar-toggler-icon {
  background-color: #576B20;      /* Color del icono de menú hamburguesa */
}

.cart-link {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #46561E;
}

.cart-link:hover {
  color: #576B20;
}

.car
