#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.product-grid{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
}

.product-card-det {
  /* display: flex; */
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  margin: auto;
  
}

.product-card-det {
  background: #504747;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0;
  text-align: center;
  width: 100vh; /* Adjusted width for consistency */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Added shadow for better separation */
  margin-bottom: 100px;
}

.product-card {
  background: #504747;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 250px; /* Adjusted width for consistency */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Added shadow for better separation */
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px; /* Space between image and text */
}

.product-card h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.product-card p {
  margin: 0 0 15px 0;
  font-size: 1.1rem;
  color: #ffffff;
}

.product-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.product-card a:hover {
  text-decoration: underline;
}

.product-card-det img {
  width: 300px;
  /* height: auto; */
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px; /* Space between image and text */
}

.product-card-det p {
  margin: 0 0 15px 0;
  font-size: 1.1rem;
  color: #ffffff;
  padding: 10px;
}